In [23]:
import os
import numpy as np
import pandas as pd
from PIL import Image
import cv2

## Resive all the imiages to 570*530

In [31]:
resize = (570, 530)
def resizeImages(path2img, path2resize_img):
    for img_file in os.listdir(path2img):
#         print(img_file)
        original_img_arr = cv2.imread(path2img+img_file)
        resize_original_img_arr = cv2.resize(original_img_arr, resize)
        cv2.imwrite(path2resize_img+img_file, resize_original_img_arr)

In [77]:
def img2class(path2img, label):
    images = [file for file in os.listdir(path2img) if file.split(".")[1] == "jpg"]
    size = len(images)
    labels = [label]*size
    data = {'images':images, 'labels':labels}
    df = pd.DataFrame(data)
    return df

### Barretts, class=0

In [78]:
path2barretts = "./moredata/labeled-images/barretts/"
path2resize_barretts = "./moredata/resize_labeled-images/barretts/"

# resizeImages(path2barretts, path2resize_barretts)

In [79]:
barretts_df = img2class(path2resize_barretts, 0)
barretts_df

                                      images  labels
0   1e5ac457-5800-43de-91cf-813a5a18e148.jpg       0
1   5e554e89-b4d6-4926-afe8-d2819693617c.jpg       0
2   8595f95a-5216-44c7-bdf4-dc325f230ecd.jpg       0
3   101b7a09-3116-4f28-afc4-e4705999a038.jpg       0
4   44c452dd-f004-4e6f-8a9b-dc779e4d48d2.jpg       0
..                                       ...     ...
89  318bf32b-1d5f-4833-a8a9-b1755e6121a4.jpg       0
90  cf06a21b-d3ea-4c51-afa9-329f18be8518.jpg       0
91  0411e66e-a3f4-4833-8133-971cbbebefc2.jpg       0
92  8a044c30-eb04-4bdb-be4d-734e1780a4c2.jpg       0
93  ff05511a-b483-4589-bd65-89d8077f2c50.jpg       0

[94 rows x 2 columns]

### bbps, class=1

In [80]:
path2bbps = "./moredata/labeled-images/bbps/"
path2resize_bbps = "./moredata/resize_labeled-images/bbps/"

# resizeImages(path2bbps, path2resize_bbps)

In [81]:
bbps_df = img2class(path2resize_bbps, 1)
bbps_df

                                        images  labels
0     5b454068-df41-4b9c-adab-4ce03fd3ec04.jpg       1
1     a7885588-f902-42a8-8cba-9eaf835f49d1.jpg       1
2     89ff634e-6616-47e3-86df-f2b81eab68a4.jpg       1
3     cd90e934-7eba-4345-a50c-209615d34aa0.jpg       1
4     ea612832-7da1-430e-923e-70d08b26659e.jpg       1
...                                        ...     ...
1789  47741d9a-3626-438e-9004-3d5d46394a1d.jpg       1
1790  d720dc40-8f9d-41bf-a8c5-9c1a3f393e82.jpg       1
1791  a52c7432-341b-4899-b259-95c4cecefd27.jpg       1
1792  9b761697-5417-4b5f-8fed-b76861049a3f.jpg       1
1793  0b5425a9-aab4-47aa-b7c3-50d59e2344ff.jpg       1

[1794 rows x 2 columns]

### cecum, class=2

In [82]:
path2cecum ="./moredata/labeled-images/cecum/"
path2resize_cecum = "./moredata/resize_labeled-images/cecum/"

# resizeImages(path2cecum, path2resize_cecum)

In [101]:
cecum_df = img2class(path2resize_cecum, 2)
cecum_df

                                        images  labels
0     8427249a-8310-42b2-aafc-413c88a75d3b.jpg       2
1     bcb3280a-b7d4-4922-a412-4bf5f0c338a9.jpg       2
2     268dbbbe-31d9-421d-b3f4-564c47b37457.jpg       2
3     04827eb8-7b02-4e85-baa2-e55a6191f542.jpg       2
4     f0bfcdaa-ca94-4edd-86f0-3ac088a0855f.jpg       2
...                                        ...     ...
1004  a6086795-e19e-4d14-b431-f750f0522fdb.jpg       2
1005  400a78ab-c59d-4b07-b213-8d82b220d986.jpg       2
1006  19716c9a-1dc0-454e-a067-a343ffc81aec.jpg       2
1007  12bf75aa-08da-4286-ba1e-bbc4103a86cf.jpg       2
1008  96944ffd-c92a-46aa-84fc-8fb8ccabf986.jpg       2

[1009 rows x 2 columns]

### esophagitis, class=3

In [84]:
path2esophagitis = "./moredata/labeled-images/esophagitis/"
path2resize_esophagitis = "./moredata/resize_labeled-images/esophagitis/"

# resizeImages(path2esophagitis, path2resize_esophagitis)

In [85]:
esophagitis_df = img2class(path2resize_esophagitis, 3)
esophagitis_df

                                       images  labels
0    95791dc8-f140-4faf-bcb7-ef5868003226.jpg       3
1    c7b06f41-c81a-4a7e-92f7-d2a76e4e6a72.jpg       3
2    42296d4d-a0be-4e1e-ae02-556937e11373.jpg       3
3    2bfc52c7-f44b-4eff-8840-9cfacd473bf4.jpg       3
4    a4806a8a-8eac-4c00-94ad-dfa446956eb2.jpg       3
..                                        ...     ...
658  0f202f5b-a642-402b-9741-a391b69eb7f3.jpg       3
659  4165ba65-9948-4fcb-8fee-fd551bbffaa7.jpg       3
660  1e966fe0-2eb4-47b8-9387-dc1292c89d09.jpg       3
661  6461ef06-2934-46ef-8da7-bc911834a97d.jpg       3
662  26a45170-e57e-4bbb-a480-4cbd01361aef.jpg       3

[663 rows x 2 columns]

### normal-z, class=4

In [86]:
path2normal_z = "./moredata/labeled-images/normal-z-line/"
path2resize_normal_z = "./moredata/resize_labeled-images/normal_z/"

# resizeImages(path2normal_z, path2resize_normal_z)

In [87]:
normal_z_df = img2class(path2resize_normal_z , 4)
normal_z_df

                                       images  labels
0    3dbd362e-e843-4113-a0b5-8b300a952e32.jpg       4
1    b9c3bada-de49-4c19-96d9-ea67fd014fb2.jpg       4
2    b9824eb0-c9e1-4650-9dc0-cb180758d967.jpg       4
3    2b5075bd-a2a6-46e6-b690-2808262a97ae.jpg       4
4    b9339c6a-a019-409f-97f4-e6a7bf46b20a.jpg       4
..                                        ...     ...
927  99ff2c75-39ee-4c11-b844-a1916107deff.jpg       4
928  35fa3be4-45df-4f79-85eb-2d37f9b3042a.jpg       4
929  7c62e696-e09a-42fa-9800-d4d93b54d71c.jpg       4
930  3595bee8-4313-4563-ab63-96ec5f8ea46f.jpg       4
931  9a494eb0-451e-49ef-ab07-b16943958092.jpg       4

[932 rows x 2 columns]

### polyps, class=5

In [88]:
path2polyps = "./moredata/labeled-images/polyps/"
path2resize_polyps = "./moredata/resize_labeled-images/polyps/"

# resizeImages(path2polyps, path2resize_polyps)

In [89]:
polyps_df = img2class(path2resize_polyps, 5)
polyps_df

                                        images  labels
0     5dd89bce-9b0d-44c7-8196-9a6e5ed8f5a1.jpg       5
1     5902ac8d-63ec-4164-8efa-6cf723e5ef96.jpg       5
2     ae028993-a67c-4413-9f47-e8ab8bc94035.jpg       5
3     c8da8ddb-9d71-4b68-a17c-dd4f3b9355c0.jpg       5
4     9319eaac-1fae-498c-b535-36c5cab769de.jpg       5
...                                        ...     ...
1023  2588eac6-6b98-4e11-a390-2f0d3377c0b2.jpg       5
1024  e6a94743-2bfc-4ee4-b43d-86bacbcd2c2b.jpg       5
1025  9b61792b-4380-43bb-8bed-6a7b4e84439a.jpg       5
1026  6d87d28c-cda7-46bc-84c9-a5f7389e2157.jpg       5
1027  14552594-a205-4c89-a9e9-ee8ee07d4f7e.jpg       5

[1028 rows x 2 columns]

### pylorus, class=6

In [90]:
path2pylorus = "./moredata/labeled-images/pylorus/"
path2resize_pylorus = "./moredata/resize_labeled-images/pylorus/"

# resizeImages(path2pylorus, path2resize_pylorus)

In [91]:
pylorus_df = img2class(path2resize_pylorus, 6)
pylorus_df

                                       images  labels
0    2d5fa59c-95b2-486a-b22c-a32260da71b8.jpg       6
1    d9c166cf-ea4e-4777-85cb-23c1eafdd631.jpg       6
2    71285cfb-9b6f-40bc-bee0-caa258469b79.jpg       6
3    adf99503-50d6-471a-963b-836a2165d7e6.jpg       6
4    cbafa3ac-14f2-4ea4-a599-8f61a7f01d68.jpg       6
..                                        ...     ...
994  9f541b9f-be19-41b8-afc4-99eb8b73f35f.jpg       6
995  63a7f1e1-3689-4101-a6ed-08f023464482.jpg       6
996  21a82538-f405-4277-8505-c6d67a27a353.jpg       6
997  af639547-c260-4b75-bca1-26a920facf49.jpg       6
998  0133b6b9-ee57-44dc-8ad9-15e974e806e1.jpg       6

[999 rows x 2 columns]

### retroflex-rectum, class=7

In [92]:
path2retroflex_rectum = "./moredata/labeled-images/retroflex-rectum/"
path2resize_retroflex_rectum = "./moredata/resize_labeled-images/retroflex_rectum/"

# resizeImages(path2retroflex_rectum, path2resize_retroflex_rectum)

In [93]:
retroflex_rectum_df = img2class(path2resize_retroflex_rectum, 7)
retroflex_rectum_df

                                       images  labels
0    597e6284-a769-4656-81cf-6a8e90eb84f0.jpg       7
1    b8092e99-a399-4f9e-bf63-b0e9f4e0a423.jpg       7
2    8425950e-bd89-4b9f-a4e4-837600661312.jpg       7
3    57494edd-5912-434a-9791-defa43a7b951.jpg       7
4    959c527f-640d-42e4-bfdd-080bb4de0c4b.jpg       7
..                                        ...     ...
386  b761d90e-92f1-4849-9cef-75e84c97ffcd.jpg       7
387  b621a2fa-fdb7-4cc0-ab1e-5276ffdcbbfe.jpg       7
388  ccb7548c-1797-42b7-8b20-6e23b4497f2c.jpg       7
389  4f302864-3195-4e64-89c9-871359ae070f.jpg       7
390  aee30c7d-5fb8-4e0b-a892-665ddc31af9b.jpg       7

[391 rows x 2 columns]

### retroflex-stomach, class=8

In [94]:
path2retroflex_stomach = "./moredata/labeled-images/retroflex-stomach/"
path2resize_retroflex_stomach = "./moredata/resize_labeled-images/retroflex_stomach/"

# resizeImages(path2retroflex_stomach, path2resize_retroflex_stomach)

In [95]:
retroflex_stomach_df = img2class(path2resize_retroflex_stomach, 8)
retroflex_stomach_df

                                       images  labels
0    b64dc9b4-de83-4cd6-adf8-55d879d2b139.jpg       8
1    7b67a793-9c16-48c8-bb5d-55cb78866226.jpg       8
2    55d7dadf-08e4-4730-9aa6-0e1708042f87.jpg       8
3    1641150f-db3b-46e2-91c3-a17db5b23140.jpg       8
4    94fc4737-38fa-4896-91a8-7b98d4e040a7.jpg       8
..                                        ...     ...
759  35da9741-fa20-4645-8202-a47c54ca87aa.jpg       8
760  5e753a3e-b601-450d-a202-e86067f88a66.jpg       8
761  5c62aaf6-e51e-4280-9715-c20e412d4ba4.jpg       8
762  d000dbba-83e6-47b9-8b38-e194d2145b20.jpg       8
763  ba6a61c9-1fc0-4d96-b587-a25a5d335238.jpg       8

[764 rows x 2 columns]

### ulcerative-colitis, class=9

In [99]:
path2ulcerative_colitis = "./moredata/labeled-images/ulcerative-colitis/"
path2resize_ulcerative_colitis = "./moredata/resize_labeled-images/ulcerative_colitis/"

# resizeImages(path2ulcerative_colitis, path2resize_ulcerative_colitis)

In [100]:
ulcerative_colitis_df = img2class(path2resize_ulcerative_colitis, 9)
ulcerative_colitis_df

                                       images  labels
0    c95ef0ea-b053-42de-8c6a-3cdd57fcf77b.jpg       9
1    2a0d652e-a524-4edb-99cc-1d6666a69ef5.jpg       9
2    4ab06311-421e-4ec2-9486-0cb637e98287.jpg       9
3    738b5ca8-a2b4-4fe8-bc5e-14b0ebb0e069.jpg       9
4    cca33737-deb4-4621-9587-4d0d265503ce.jpg       9
..                                        ...     ...
846  8b4a56b2-8abd-47a9-9aa0-6499dec97b5e.jpg       9
847  329a66e5-2492-49c2-a6d9-3e5ac0b45c93.jpg       9
848  c4bc7364-0262-435b-88cd-b76d5ac2891b.jpg       9
849  1f8f109d-e4d5-456e-92f0-2a961c72d7bf.jpg       9
850  7b54f6b4-3344-41ce-a7fd-47f4621780eb.jpg       9

[851 rows x 2 columns]

## combine all dataframes

In [102]:
frames = [barretts_df, bbps_df, cecum_df, esophagitis_df, 
          normal_z_df, polyps_df, pylorus_df, retroflex_rectum_df, 
          retroflex_stomach_df, ulcerative_colitis_df]
result = pd.concat(frames)

In [103]:
result

                                       images  labels
0    1e5ac457-5800-43de-91cf-813a5a18e148.jpg       0
1    5e554e89-b4d6-4926-afe8-d2819693617c.jpg       0
2    8595f95a-5216-44c7-bdf4-dc325f230ecd.jpg       0
3    101b7a09-3116-4f28-afc4-e4705999a038.jpg       0
4    44c452dd-f004-4e6f-8a9b-dc779e4d48d2.jpg       0
..                                        ...     ...
846  8b4a56b2-8abd-47a9-9aa0-6499dec97b5e.jpg       9
847  329a66e5-2492-49c2-a6d9-3e5ac0b45c93.jpg       9
848  c4bc7364-0262-435b-88cd-b76d5ac2891b.jpg       9
849  1f8f109d-e4d5-456e-92f0-2a961c72d7bf.jpg       9
850  7b54f6b4-3344-41ce-a7fd-47f4621780eb.jpg       9

[8525 rows x 2 columns]

In [104]:
result.to_csv("data.csv", index=False)